<h1>Create a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_str">Enter a word</label>
    <input id="word_str" name="word_str" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add</button>
</form>