<div class="container">
  <div class="jumbotron">
  <h1>Word Definer 🤖 </h1>
  <p>I'm your friendly neighborhood Robo Word Definer 3000<p>
  </div>
</div>

<p>Let's play a game!<p>
<p>- Add, edit or delete a word and definition</p>
<p>- Try searching for a word</p>
<br>
<h3>Available Words</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.str %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are currently no words.</p>
  <% end %>
<br>
  <a href="/words/new">Add a new word</a>
<br>
<br>
<form action="/results" method="post"> 
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>